$primary-color: white;
$secondary-color: #28536B;
$tertiary-color: #39A2AE;

$scroll-thumb-color: rgba(0, 0, 0, 0.185);
$scroll-thumb-color-hover: rgba(0, 0, 0, 0.305);

$transparent-color: rgba(0,0,0,0);

$field-edit-border-color: black;